@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #FFC107;
    --button-primary: #FFC107;
    --button-primary-hover: #ecb100;
    --button-primary-active: #d29d00;
    --ukuran-teks: 14px;
  }

html {
    font-size: var(--ukuran-teks);
}

body{
    @apply bg-gray-100;
    color: #495057;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.login-card-top-shadow {
    border-radius: 56px;
    background: linear-gradient(180deg, var(--color-primary)  10%, rgba(33, 150, 243, 0) 30%);
}

.layout-sidebar {
    position:fixed;
    height:calc(100vh - 12rem);
    z-index:999;
    overflow-y:auto;
    transition:transform .2s,left .2s;
    /* background-color:var(--surface-overlay); */
    /* border-radius:12px; */
    padding:.5rem 1.5rem;
    /* box-shadow:0 3px 5px rgba(0,0,0,.02),0 0 2px rgba(0,0,0,.05),0 1px 4px rgba(0,0,0,.08) */
}

.card {
    background: #ffffff;
    border: 1px solid #dfe7ef;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: black;
    border-radius: 12px;

    &:last-child {
        margin-bottom: 0;
    }
}

.button-modif{
    background-color: var(--button-primary) !important;
    color: #121415!important;
    /* font-weight: 900!important; */
    /* font-size: larger!important; */
    border-color: 1px solid var(--button-primary)!important;
}
.button-modif:hover{
    background-color: var(--button-primary-hover) !important;
}
.button-modif:active{
    background-color: var(--button-primary-active) !important;
}

.p-component {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: normal;
  }

  .p-error {
    color: #e24c4c;
  }
  
  .p-text-secondary {
    color: #71717A;
  }